 body{width:1200px;
 
margin:0 auto;
padding:0;
font-family: 'Cuprum', Arial, sans-serif;
font-size:17px;
color:#ffffff;
 background-color:#ffffff;
background-position:top-center; 
background-repeat:no-repeat;
}

a{text-decoration:none;
background-color:32425c;
color:#ffffff;
 
	
}
.search{
background-color:#ee3643;
color:#ffffff;
font-size:24px;
line-height:24px;	
}
.space{
background-color:#f4f7f9;	
}
.green{
background-color:#63a63e;	
}
.goods{
background-color:#f9f5f0;	
}
.drill{
background-color:#5e524a;	
}
.deliver{
background-color:#ffc047;	
}
.sail{
background-color:#8ed78f;	
}
.equipment{
background-color:#dc91d8;
}	
.materials-m{
background-color:#ffbf47;
}
.instrument{
background-color:#3bbce3;	
}	
.materials{
font-size:24px;
line-height:30px;
font-weight:bold;
display:flex;	
}
.materials .wrapper {
	display:flex;
	flex-wrap:wrap;
}
.materials .wrapper:first-child {
	 width:630px;
	
}
.materials .wrapper>div:not(.drill){
	width:300px;
	height:125px;
}
.contacts {
font-size:16px;
line-height:23px;
color:#ee3643;
font-style:italic;
margin: 0  auto;
 
}
.street{
color:#32425c;
font-size:14px;
line-height:24px;
font-family:Cuprum;
}
.phone {margin-top:
color:#ee3643;
border:1 px solid #feffff; 	
}
.registration{
font-size:21px;
line-height:21px;
color:#000000;
 
 
}
.popular{
font-size:30px;
line-height:30px;
color:#32425c;
}
.old-popular{
font-size:14px;
line-height:18px;
background-color:#ee3643;
color:#ffffff;
}
.grey{background-color:#f9f5f0;
}
.services-dilivers{
background-color:#f5f8fa;	
}
.manufacturer{
font-size:30px;
line-height:30px;
color:#32425c;
}
.old-manufacturer{
font-size:14px;
line-height:18px;
 background-color:#ee3643;
color:#ffffff;
}	
.tehnomart{
	font-size:24px;
	line-height:24px;
	 
}
.menu-wrap
{
	background-color:#293449;
	display:flex;
}
.topmenu{display:flex;
font-size:17px;
line-height:18px;
color:#ffffff;	
flex-grow:1;
height:45px;
margin:0;
}
 
.main-nav ul{   
display:flex;
min-height:60px;
width:940px;
padding: 0;
background-color:#293449;
margin:0 auto;	
}
 
.main-nav li{  
color:#ffffff;	 
list-style:none;
font-size:17px;
line-height:17px;
font-family:Cuprum;	
flex-grow:1;
 

}
.main-nav a { 
	display:block;
	padding:20px 0;
	text-align:center;
}

.topmenu a{
	display:block;
	padding:12px 20px;
}
.topmenu input{
}
.topmenu li{
list-style:none;	
}
.logo{
margin-left:20px;
margin-bottom:-15x;
}
.topmenu>li:first-child
{
	flex-grow:1;
}
.green{
height:21px;	
}
.text{
color:#000000;	
}
strong{
color:#ffffff;
background-color:#ee3643;
font-size:17px;
line-height:18px;
font-family:PT Sans;
font-weight:bold;	
}
 	
.perf li{
list-style:none;
font-size:18px;
line-height:20px;
font-weight:bold;
font-family: 'PT Sans', sans-serif; 
color:#ffffff;	
}
.footer-nav{
list-style:none;	
}
.footer-special{
list-style:none;	
}
.delivery{
list-style:none;	
}
 .dgk td a{
color:#32425c;	 
 }
.dgk{ 
font-size:21px;
line-height:30px;
font-weight:bold;
font-family:Cuprum;
	
}
.services h3{color:#32425c;
font-size:30px;
line-height:30px;
font-family:Cuprum;	
}
.services p{color:#000000;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;	
}
.services-d h3{color:#32425c;
font-size:36px;
line-height:36px;
font-family:Cuprum;	
}
.services-d p{color:#3e4040;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;	
}
.company h3{color:#000000;
font-size:30px;
line-height:30px;
font-family:Cuprum;	
}
.company p{color:#424242;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;	
}
.delivery li{color:#262626;
font-size:18px;
line-height:20px;
font-family:Cuprum;	
}
.about-us{
background-color:#ee3643;
color:#ffffff;
font-size:14px;
line-height:18px;
font-family:Cuprum;	
}
.us-office h3{color:#000000;
font-size:30px;
line-height:30px;
font-family:Cuprum;		
}
.us-office span{color:#000000;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;	
}
.letter{
background-color:#ee3643;
font-size:14px;
line-height:18px;
font-family:Cuprum;
color:#ffffff;	
}
.communications{
background-color:#293449;	
}
.footer-adress{
background-color:#32425c;	
}
.footer-adress h1{background-color:#ee3643;
font-size:30px;
line-height:30px;
font-family:Cuprum;	
}
.footer-adress span{
	font-size:18px;
	line-height:24px;
	font-family:Cuprum;
}
.footer-nav a{
font-size:18px;
	line-height:24px;
	font-family:Cuprum;	
}
.footer-special a{
font-size:18px;
	line-height:24px;
	font-family:Cuprum;	
color:#ffd180;	
}
.special-one{
font-size:16px;
	line-height:18px;
color:#ffd180;
font-family:Cuprum;	
}
.main-header { 
margin-bottom:65px;	
min-height:320px;
min-width:1200px;
}