 body{width:1200px;
 
margin:0 auto;
padding:0;
font-family: 'Cuprum', Arial, sans-serif;
font-size:17px;
color:#ffffff;
 background-color:#ffffff;
background-position:top-center; 
background-repeat:no-repeat;
box-sizing:border-box;
}

* {
	box-sizing:inherit;
}

a{text-decoration:none;
background-color:32425c;
color:#ffffff;
 
	
}
.visually-hidden {
	position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
 
 .materials h3{font-size:24px;
	 padding-left:24px;
	 margin-top: 22px;
 }
.registration a:last-child{
margin-left:10px;
padding-left:25px;
	
}
.radios
{
	display:flex;
	left:50%;
	transform: translateX(-50%);
	position:absolute;
	top: 220px;
}
.radios label{
	width:10px;
	height:10px;
	background-color:white;
	border-radius:100px;
	margin:0 5px;
}

.choice1:checked ~ .radios label[for="Choice1"]::before{
	content:"";
	width:6px;
	height:6px;
	background-color:#ee3643;
	border-radius:100px;
	margin:2px;
	display:block;
}

.choice2:checked ~ .radios label[for="Choice2"]::before{
	content:"";
	width:6px;
	height:6px;
	background-color:#ee3643;
	border-radius:100px;
	margin:2px;
	display:block;
}
.search{
background-color:#ee3643;
color:#ffffff;
font-size:24px;
line-height:24px;	
}
.space{
	justify-content:space-between;
	display:flex;
background-color:#f4f7f9;
width:940px;
margin:0 auto;	
}
.space>div {
	width:33%;
}
.green{height:60px;
background-color:#63a63e;	
}
 .goods a{display:block;
 font-size:14px;
 line-height:18px;
 font-family:Cuprum;
	background-color:#ee3643;
	width:252px;
	height:37px;
	    margin-top: 22px;
    margin-right: 25px;
	padding-left: 55px;
    padding-top: 11px;
	border-radius: 4px;
 }
.goods{justify-content: space-between;
    display: flex;
background-color:#f9f5f0;
 margin-top:51px;
 width:940px;
height:90px;
    margin-left: 131px;
      padding-left: 26px;
      
    font-size: 34px;
    padding-top: 4px;
} 

.drill p{
	font-size:18px;
	line-height:24px;
	font-family:Cuprum;
	margin-left: 24px;
	    margin-top: -35px;
}
.drill a{  
font-size: 14px;
    line-height: 18px;
    font-family: Cuprum;
    margin-top: 122px;
    padding: 10px 48px;
    display: block;
    margin-left: 26px;
    background: #ee3643;
    width: 196px;
    white-space: nowrap;
	height: 39px;
	border-radius:4px;    
	}
 
.opened {display:block;
 font-size:14px;
 line-height:18px;
 font-family:Cuprum;
 background-color:red;
 width:196px;
 height:38px;
     margin-top: 156px;
    margin-left: 26px;
}	
	
	
	

.drill h3{
font-size:36px;
line-height:36px;
font-family:'Cuprum', Arial, sans-serif;
font-weight:bold;
    margin-top: 23px;	
}
.left{position:absolute; 
 background-color:red;
 border:0;
 top: 0;
    bottom: 0;
    left: 6px;
 width: 61px;
    background-image: url(../img/icon-left.svg);
    background-repeat: no-repeat;
    background-position: center;	
	background-color: transparent; 
}
.right{    background-color: transparent; 
    position: absolute;
    border: 0;
    top: 4px;
    bottom: 0;
    right: 0;
    width: 61px;
    background-image: url(../img/icon-right.svg);
    background-repeat: no-repeat;
    background-position: center;	
}
.drill{width:621px;
height:263px;
background-color:#5e524a;
margin-top: 15px;	
font-size:36px;
line-height:bold;
background-image:url("../img/layer99.jpg  ");
	background-repeat:no-repeat;
	position:relative;
}
 
.deliver a{
display:block;
font-size:14px;
line-height:18px;
font-family: 'Cuprum', Arial, sans-serif;
 background-color: rgba(0, 0, 0, 0.1);
  width: 133px;
    height: 39px;
    margin-left: 25px;
    margin-top: -16px;
    padding-left: 34px;
    padding-top: 13px;	
}
.deliver{margin-left:10px;
margin-top:18px;
background-color:#ffc047;
background-image:url("../img/icon-5.svg");
background-repeat:no-repeat;
background-position:191px;	
}
.sail a{
display:block;
font-size:14px;
line-height:18px;
font-family: 'Cuprum', Arial, sans-serif;
 background-color: rgba(0, 0, 0, 0.1);
  width: 133px;
    height: 39px;	
    margin-left: 26px;
	    margin-top: -15px;
   
    padding-left: 20px;
    padding-top: 12px;
}
.sail{margin-left:10px;
margin-top:18px;
background-color:#8ed78f;
background-image:url("../img/icon-4.svg");
background-repeat:no-repeat;
background-position:197px;	
}
.equipment a{
display:block;
font-size:14px;
line-height:18px;
font-family: 'Cuprum', Arial, sans-serif;
 background-color: rgba(0, 0, 0, 0.1);
  width: 133px;
    height: 39px;
	margin-left: 25px;
    margin-top: -15px;
    
    padding-left: 29px;
  
    padding-top: 12px;
}
.equipment{ margin-left:10px;
margin-top:-7px;
background-color:#dc91d8;
background-image:url("../img/icon-3.svg");
background-repeat:no-repeat;
background-position:191px;
}
.materials-m a{display:block;
font-size:14px;
line-height:18px;
font-family: 'Cuprum', Arial, sans-serif;
    padding-left: 21px;
    width: 133px;
    height: 39px;
       padding-top: 11px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: -12px;
	    margin-left: 27px;
		
}
.new::before{
	content:"";
     position:absolute;
	background-image:url("../img/new.png");
	background-repeat:no-repeat;
	width:60px;
	height:59px;
	right:0;
}

.new{
	position:relative;
}
 

	
.materials-m{
background-color:#ffbf47;
margin-right: 20px;
margin-top:-7px;
background-image:url("../img/icon-1.svg");
background-repeat:no-repeat;
     background-position: 214px;   
}
.instrument a{display:block;
font-size:14px;
line-height:18px;
font-family: 'Cuprum', Arial, sans-serif;
 background-color: rgba(0, 0, 0, 0.1);
  width: 133px;
    height: 39px;
	    margin-left: 27px;
    margin-top: -15px;
   
    padding-top: 12px;
  
    padding-left: 25px;
}
.instrument{margin-top:-7px;
background-color:#3bbce3;
background-image:url("../img/icon-2.svg");
background-repeat:no-repeat;
    background-position: 199px;	
}	
.materials{
font-size:24px;
line-height:30px;
font-weight:bold;
display:flex;	
width:940px;
margin:0 auto;
}
.materials .wrapper {
	display:flex;
	flex-wrap:wrap;
}
.materials .wrapper:first-child {
	 width:630px;
	
}
.materials .wrapper>div:not(.drill){
	width:300px;
	height:125px;
}
.materials .wrapper:last-child {
	 width:310px;
	margin-right: 0px;
}
 
.basket{
padding: 12px 29px;	
}
.basket::before{
	width:15px;
height:15px;
content:"";
position:absolute;
background-image:url("../img/icon-cart.svg ");
	background-repeat:no-repeat;
	opacity:0.3; 
left:440px;	
}

.bookmarks::before{
content:"";
position:absolute;
background-image:url("../img/icon-bookmark.svg ");
	background-repeat:no-repeat;
opacity:0.3;	 
	width:14px;
height:16px;
top: 12px;
    left: 288px;
	
}
 
.bookmarks{
  padding:12px 18px;
      margin-right: 31px;   

}
.contacts {
font-size:16px;
line-height:23px;
color:#ee3643;
font-style:italic;
padding-left:53px;
padding-top:49px;
padding-bottom:41px;
 
}
.street {     padding-top: 1px;
    margin-top: 5px;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    font-family: Cuprum,Regular,sans-serif;
    padding-left: 15px;
}


.phone {margin-bottom:0;
	margin-top:45px;
color:#ee3643;
border:3px solid #ffffff; 
 font-weight:bold;
 font-size:21px;
 padding: 9px 15px 0px 68px;
 	background-image:url("../img/icon-phone.svg");
	background-repeat:no-repeat;
    background-position: 13px 11px;
	    height: 44px;
        margin-left: 8px;
    width: 270px; 
}
.exit{
	margin-left: 26px;
}
.exit::before{
content:"";
position:absolute;
width:20px;
height:17px;
background-image:url("../img/icon-login.svg ");
	background-repeat:no-repeat;
 right:407px;	
}
.reg{
	
}
.registration a{display:block;
color:#000000;
background-color:#ffffff;
padding:11px 26px 12px 51px ;
}
.registration {display:flex;
font-size:21px;
line-height:21px;
  padding-top:47px;
 
align-items:flex-start;
 
 
 
}
 .popular h2{    padding-left:27px;
    padding-top:2px;
	font-size:30px;
line-height:30px;
font-family:Cuprum;	
 }

.popular{
font-size:30px;
line-height:30px;
color:#32425c;
letter-spacing:-0.7px;
}
.old-popular{
 height: 38px;
    width: 252px;
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: #ffffff;
    padding-bottom: 4px;
    padding-left: 55px;
    margin-top: 26px;
    margin-right: 26px;
}
.grey a{display:block;
 font-size:14px;
 line-height:18px;
 font-family:Cuprum;
	background-color:#ee3643;
	width:330px;
	height:38px;
	    margin-top: 25px;
    margin-right: 23px;
	padding-left: 68px;
    padding-top: 10px;
	    border-radius: 4px;
}

.grey{ ;
    height: 90px;
    width: 940px;
    display: flex;
    background-color: #f9f5f0;
    margin-top: 19px;
    margin-left: 130px;


}
.car{
background-repeat:no-repeat;
width:468px;
height:261px;
	
}
.blond{
display:flex;	
}
.services-dilivers{ 
justify-content:space-between;
background-color:#f5f8fa;
display:flex;
flex-wrap:wrap;
padding:0 130px;
width:auto;
    margin-top: 61px;
     
    padding-bottom: 77px;
	
}
.services {
	width:100%;
	margin-top: 39px;
}
 
.services-d {
	background-image:url(../img/car1.png);
	width:730px;
	background-repeat:no-repeat;
	    background-position: 231px 79px;
}
.services-d h3{
    padding-top:18px;
    padding-left:79px;
	    margin-bottom:25px;
}	
.manufacturer{display:flex;
justify-content:space-between;
font-size:30px;
line-height:30px;
color:#32425c;
width:940px;
padding-left: 24px;
    letter-spacing: -0.8px;
}
.map{
     margin-top: -206px;
}
.old-manufacturer{
     font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    color: #ffffff;
    margin-left: 315px;
    width: 255px;
    height: 40px;
    margin-top: 23px;
	   
}	
.tehnomart{
	font-size:24px;
	line-height:24px;
	 
}
.menu-wrap
{height:42px;
	background-color:#293449;
	display:flex;
	padding:0 130px;
}
.topmenu{display:flex;
font-size:17px;
line-height:18px;
color:#ffffff;	
flex-grow:1;
height:45px;
margin:0;
padding-left:0;
}
.main-nav ul  li:first-child a{
padding-left:23px;
    padding-top: 19px;
 }
 .main-nav ul  li:nth-child(2) a{
padding-left:4px;
padding-top: 19px;	 
 }
 .main-nav ul  li:nth-child(3) a{
 padding-top: 19px;	 
 }
 .main-nav ul  li:nth-child(4) a{
padding-top: 19px;		 
 }
  .main-nav ul  li:nth-child(5) a{
padding-right:4px;
padding-top: 19px;		 
 }
   .main-nav ul  li:nth-child(6) a{
     padding-right: 3px;
padding-top: 19px;		 
 }
 .main-nav ul  li:last-child a{
padding-right:24px;
 padding-top: 19px;	 
 }
.main-nav ul{   
display:flex;
 
width:940px;
padding: 0;
background-color:#32425c ;
margin:0 auto;	
}
 
.main-nav li{  
color:#ffffff;	 
list-style:none;
font-size:17px;
line-height:17px;
font-family:Cuprum;	
flex-grow:1;
 

}
.main-nav a { 
	display:block;
	padding:15px 0;
	text-align:center;
	border-bottom:8px solid #293449;
}

.topmenu a{
	display:block;
}
.topmenu {
	position:relative;
}
 
.topmenu input{margin-top:9px;
	padding-left:47px;
	background-color:#293449;
	border:0;
	color:#ffffff;
	 
}
 .vk{
	background-image:url(../img/icon-vk.svg);
	background-repeat:no-repeat;
	display:block;
 }
 .fb{
background-image:url(../img/icon-fb.svg );
	background-repeat:no-repeat;
     margin-left: 6px;
    margin-top: -2px;
	
 }
 .ig{
	background-image:url(../img/icon-insta.svg);
	background-repeat:no-repeat;
	    margin-left: -6px;
   
    margin-top: -4px;
 }

.topmenu::before{
	content:"";
	position:absolute;
	width:17px;
	height:17px;
	background-image:url("../img/icon-search.svg");
	background-repeat:no-repeat;
	top: 12px;
    left: 18px;
	opacity:0.3;
}
.topmenu li{ 
list-style:none;	
}
.logo{
margin-bottom:-15x;
}
.topmenu>li:first-child
{
	flex-grow:1;
}
.green{height:42px;
 padding: 12px 22px;
margin-right:-2px; 
}
 .name p{
color:color:#000000; 
 }
 
.text {    
    margin-top: -2px;
color:#000000 ; 
text-align:center;	
}
strong{
color:#ffffff;
background-color:#ee3643;
font-size:17px;
line-height:18px;
font-family:PT Sans;
font-weight:bold;	
}
.perfa{
      padding-left: 16px;
    padding-top: 5px;   	
}
.perfb{
     padding-left: 38px;
    padding-top: 28px;	
	} 
.perfc{
     padding-left: 26px;
    padding-top: 21px;   
}
.perfe{
  padding-left: 30px;
    padding-top: 29px;   
} 
.price {       margin-top: -7px; 
    text-decoration:line-through;
	color:#a9a9a9;
	
 }
 
.topmenu input::placeholder{
color:#ffffff;	
}

	
.perf p:last-child, .foto p:last-child {
	 position:relative;
}
 
.perf ul li p:last-child::before, .foto li p:last-child::before{
	 content:"";
	position:absolute;
 border-style: solid;
border-width:19px 0 18px 22px;
border-color: transparent transparent transparent #ee3643;
right:-22px;
top:0;
}
.radio-button{
    margin-left: 295px;
    margin-top: -39px;	
}
.radio-button{
 checked:red;	
}

 
	
	


	
.perf{ 
display:flex;
 margin-top:20px;
width:940px;
height:320px;
     margin-left: auto;
	 margin-right:auto;
}
.perf ul{display:flex;
width:940px;
margin:0 auto;
padding-left:0;
justify-content:space-between;
}
	
.perfaa	p:last-child{
width:121px;
height:37px;
background-color:#ee3643;	
    margin-left:43px;
    margin-top:-9px;
    padding-left:34px;
    font-size:17px;
    line-height:18px;
    font-family:PT Sans;
    padding-top:10px; 
     border-width: 19px 0px 19px 24px;  	
}
.perfbb p:last-child{
width:121px;
height:37px;
background-color:#ee3643;	
    margin-left:43px;
    margin-top:-9px;
    padding-left:34px;
    font-size:17px;
    line-height:18px;
    font-family:PT Sans;
    padding-top:10px; 	
	
}
.perfcс p:last-child {
width:121px;
height:37px;
background-color:#ee3643;	
    margin-left:43px;
    margin-top:-9px;
    padding-left:34px;
    font-size:17px;
    line-height:18px;
    font-family:PT Sans;
    padding-top:10px; 	
	
}
.perfee p:last-child{
width:121px;
height:37px;
background-color:#ee3643;	
    margin-left:43px;
    margin-top:-9px;
    padding-left:34px;
    font-size:17px;
    line-height:18px;
    font-family:PT Sans;
    padding-top:10px; 	
	
}
.perf li, .foto li{width:220px;
list-style:none;
font-size:18px;
line-height:20px;
font-weight:bold;
font-family: 'PT Sans', sans-serif; 
color:#ffffff;
border:1px solid silver;
justify-content:space-between;	
}
.perf div, .foto div{height:180px;
	
	
}
.footer-nav{display:flex;                                      
    list-style: none;
    justify-content: space-between;    
    padding-top: 22px;   
padding-left: 8px;
	
 	
}
.footer-nav ul{
	width:680px;
}
.footer-special{ display:flex;
justify-content:space-between;
list-style:none;
    margin-left: 49px;
    padding-top: 17px;	
}
.delivery-a {
display:block;	
font-size:14px;
 line-height:18px;
 font-family:Cuprum;
	background-color:#ee3643;	 
	height:38px;      
    width: 220px;    
    margin-top: 17px;
    padding-left: 42px;
    padding-top: 11px;
border-radius:4px;

}
.delivery li::before{position:absolute;
    border-bottom: 2px solid red;
content:"";	
width:25px;
left:1px;
    padding-top: 10px;
}

.delivery{position:relative;
list-style:none;
    padding-left:37px;
    margin-top:20px;
	
}
.services-d{
display:none;
color:#000000;
}
..services-d p{
	
}
.garant p{
width: 420px;
 padding-left: 85px;   
 font-size: 13px;
    line-height: 24px;
   color: #32425c;  
    font-family: PT Sans, sans-serif;    	
}
.garant h3{padding-left: 86px;
padding-top: 16px;
    font-size: 36px;
    line-height: 36px;
    font-family: Cuprum;
	 
}
.garant{
display:none;
color:#000000;
background-image:url(../img/layer130.png);
background-repeat:no-repeat;
    width: 800px;
    background-position: 366px 50px;	
}
.credit{
display:none;	
color:#000000;
background-image:url(../img/layer120.png);
background-repeat:no-repeat;
background-position: 293px 54px;
    width: 800px;



}
.credit h3{
 padding-top: 17px;
    padding-left: 80px;
    font-size: 36px;
    line-height: 36px;
    font-family: Cuprum;
	color: #32425c;
}
.credit-s{
 
	    width: 195px;
    height: 40px;
    display: block;
    background-color: red;
       padding-top: 10px;
    padding-left: 32px;
    margin-left: 79px; 
}
 
.modal{width:620px;
position:fixed;	
border-top:7px solid #ee3643;

color:#000000;
background-color:#ffffff;
background-position:0 0 ;
background-repeat:no-repeat;
box-shadow: 0 17px 55px rgba(0,0,0,0.7); 
 	
}
.modal-map{position:fixed;
width:940px;
height:450px;
     top: 100px;
    left: 155px;
background-repeat:no-repeat;
 
     box-shadow: 0px 0px 20px 2px grey;
}

.mapper{
display:none;	
	
}
 
}
.modal-map::before{
 content:"";
	position:absolute;
width:21px;
	height:21px;
	background-image:url("../img/icon-close.svg");
	background-repeat:no-repeat;
	    left: 916px;
    top: 5px;
}
.modal-login::before{
 content:"";
	position:absolute;
width:21px;
	height:21px;
	background-image:url("../img/icon-close.svg");
	background-repeat:no-repeat;	
	   left: 591px;
    top: 5px;
}

	
.modal-login{
	top:120px;
	left:280px;
	    height: 432px;
		 box-shadow: 0px 0px 20px 2px grey;
}
.modal-login span{
	font-size:18px;
line-height:18px;
font-family:Cuprum;
	 padding-left: 2px;
	 margin-bottom: 10px;
	 
 }
 .modal-login .wrapper {
	 display:flex;
	 flex-wrap:wrap;
	 width:460px;
	 margin:0 auto;
	 justify-content:space-between;
	 padding-top:29px;
	 margin-bottom: 33px;
 }
 .modal-login label {
	 display:flex;
	 flex-direction:column;
 }
/*.modal-discription placeholder{
	font-size:13px;
line-height:18px;
font-family:PT Sans;
padding-left: 17px;	
	 
 }*/
.modal input, 
.modal textarea{
	font-size:13px;
line-height:18px;
font-family:PT Sans;
padding-left: 17px;	

}	
 
 
 .modal-login input {
	 width:220px;
	 height: 35px;
    border-radius: 2px;
	    margin-bottom: 4px;
		border:2px solid #dee3e4;
 }
 .modal-login textarea {
	 width:460px;
	 height:113px;
	  margin-bottom: 4px;
		border:2px solid #dee3e4;
		    padding-top: 8px;
 }
 .modal-login .gray
 {
	 background-color:#f4f4f4;
	 display:flex;
	 height: 113px;
 }
  .modal-login .gray button
 {
	 margin:auto;
	 background:#ee3643;
	 text-transform:uppercase;
	     width: 460px;
    height: 40px;
    border: 0;
    color: white;
    border-radius: 2px;
 }
 /*
 .a2{
margin-left: 118px;
    width: 218px;
    height: 38px;
    border:2px solid silver;
    margin-top: -8px;	 
	 
 }
 .a1{ width: 218px;
    height: 38px;
    border:2px solid silver;
    margin-left: 358px;
	margin-top: -9px;
 } 
 .your-mail p{
		font-size:18px;
line-height:18px;
font-family:Cuprum;	
     margin-left: 357px;
    
    margin-top: -66px;
	 
 }
 .your-letter p{
	font-size:18px;
line-height:18px;
font-family:Cuprum; 
 }*/
 
.credit p{
width: 281px;
    padding-left: 80px; 
    margin-top: -17px;
font-size: 13px;
    line-height: 24px;
     
    font-family: PT Sans, sans-serif	
}
.s3:checked ~ .drill{
	display:block; 
background-image:url("../img/layer999.jpg");	
}
.sl1:checked ~ .services-d
{
	display:block;
}

.sl2:checked ~ .garant
{
	display:block;
}

.sl3:checked ~ .credit
{
	display:block;
}

.sl1:checked ~ ul li:nth-child(1) label
{
 background:white;
 color:#32425c;
 }

.sl2:checked ~ ul li:nth-child(2) label
{
 background:white;
 color:#32425c;
}

.sl3:checked ~ ul li:nth-child(3) label
{
 background:white;
 color:#32425c;
}

.dgk label{
display:block;
	padding-left: 23px;
    padding-top: 13px;
    padding-bottom: 18px;
 }
.dgk li{
border-bottom:1px solid #ffffff;	
}
 
.dgk{ list-style:none;
font-size:21px;
line-height:30px;
font-weight:bold;
font-family:Cuprum;
width:130px;
	flex-shrink:0;
height: 184px;
  width:240px;  
 background-color:#32425c;
 margin-top: 55px;
padding-left:0;
box-shadow:0 0 0 0 #c4c4c4;
    
}
.proizvod {    padding-left: 1px;
	display:flex;
	flex-wrap:wrap;
	width:940px;
	margin:0 auto;
	justify-content:space-between;
	padding-top:20px;
}
.makita{
padding-bottom: 6px;	
}
.inter{
padding-bottom: 14px;	
}
.metabo{
    padding-bottom: 10px;	
}
.proizvod li {
	border: 1px solid silver;
	width:220px;
	height:145px;
	margin-bottom:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.services h3{color:#32425c;
font-size:30px;
line-height:30px;
font-family:Cuprum;
    margin-top:29px;
    margin-bottom:26px;	
}
.services p{color:#000000;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;
width: 400px;	
}
.services-d h3{color:#32425c;
font-size:36px;
line-height:36px;
font-family:Cuprum;	
}
.services-d p{color:#3e4040;
font-size:13px;
line-height:24px;
    padding-left: 81px;
font-family:PT Sans, sans-serif;	
}
.company h3{color:#000000;
font-size:30px;
line-height:30px;
font-family:Cuprum;
padding-top:10px;
    margin-bottom: 26px;
	letter-spacing: -0.7px;
}   
.company h3 + p {
	margin-bottom:24px;
}

.old-company{display:flex;
 margin-top: -113px;
width:940px;
margin-left:auto;
margin-right:auto;
margin-bottom: 84px;
}
.company{width:639px;
 margin-top: 155px; 
     flex-shrink: 0;
	position:relative; 
}
 
.rus {
width:400px;	
	
}
.company p{color:#424242;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;
       width: 524px;
   letter-spacing: 0.14px;	
}
.delivery li{color:#262626;
font-size:18px;
line-height:20px;
font-family:Cuprum;
    padding-bottom: 20px;	
}

.about-us{
 background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-family: Cuprum;
    height: 40px;
    width: 223px;
    margin-top: 0px;
}
 

.us-office{  
    margin-top: 154px;
    margin-right: 100px;	
}
.us-office h3{color:#000000;
font-size:30px;
line-height:30px;
font-family:Cuprum;
    padding-top:10px;	
  	
}
.us-office p{color:#000000;
font-size:13px;
line-height:24px;
font-family:PT Sans, sans-serif;
padding-right: 23px;
    margin-bottom:235px;	
	margin-top: -3px;
   width: 240px;
    margin-right: -1px;
}
.letter a{
 
}
.letter{    height: 38px;
     padding:11px 64px;
    background-color:#ee3643;
    font-size: 14px;
    line-height: 18px;
    font-family: Cuprum;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    margin-left: 2px;
    margin-top: 38px;
	width: 300px;
	border-radius:4px;
}
.communications p{
    font-size: 16px;
    line-height: 18px;
    font-family: Cuprum;
    padding-top: 21px;
    padding-left: 2px;
    white-space: pre-wrap;	
	flex-shrink:0;
}

.communications{display:flex;
background-color:#293449;
justify-content:space-between;
height: 105px;	
     padding: 0 130px;   
}
.footer-adress{      
 display:flex;
 
background-color:#32425c;
width:1200px;
height:195px;
padding: 0 130px;	
}
.fbcfnm    cnbss p{   
    font-size: 18px;
    line-height: 24px;
        
    margin-top: 24px;
    padding-left: 4px;	
}
.fadress  p{
    padding-left: 3px;
    /* white-space: pre-wrap; */
    font-size: 18px;
    line-height: 24px;
padding-top: 9px;	
}
.logo-footer{    margin-top: -5px;
    	
}
.fadress{
    flex-shrink: 0;
    width: 327px;	
}
.footer-adress h1{background-color:#ee3643;
font-size:30px;
line-height:30px;
font-family:Cuprum;	
}
.footer-adress span{
	font-size:18px;
	line-height:24px;
	font-family:Cuprum;
}
.footer-nav a{ padding-left: 59px;    
font-size:18px;
	line-height:24px;
	font-family:Cuprum;	
}
.footer-special a{
font-size:18px;
	line-height:24px;
	font-family:Cuprum;	
color:#ffd180;	
}
.special-one{
font-size:16px;
	line-height:18px;
color:#ffd180;
font-family:Cuprum;	
}
.main-header { 
margin-bottom:65px;	
min-height:320px;
min-width:1200px;
background:#f3f7f8;

}
.social-button{
     width: 339px;
    flex-shrink: 0;
}
.social-button li{
list-style:none;
	
}
.social-button ul{
display: flex;
    padding-top: 18px;
padding-left: 162px;}

.social-button a{
border-radius: 100px;
    width: 39px;
    height: 39px;
    background-color: #212a3a;
    background-position: 10px 12px;
    display: block;
    margin-right: 7px;
	}
.catalog ul{
display:flex;
 justify-content:space-between;
 
    width: 343px;
    margin-left: 144px;
    margin-top: -46px;
}
.catalog ul::before{
content:"";
position:absolute;
width:15px;
height:12px;
background-image:url("../img/icon-home.svg ");
	background-repeat:no-repeat;
left: 160px;
 	
}
.catalog ul::after{
content:"";
position:absolute;
width:8px;
height:12px;
background-image:url("../img/icon-right-small.svg ");
	background-repeat:no-repeat;
     left: 190px;
    top: 343px;	
}
 /*.catalog  li::before{
	content:"";
position:absolute; 
width:8px;
height:12px;
background-image:url("../img/icon-right-small.svg ");
	background-repeat:no-repeat;	 
 }*/
 .middle {
	 display:flex;
	 flex-wrap:wrap;
	 width:940px;
	     margin: -24px 129px; 
	 justify-content:space-between;
 }
.catalog a{  
color:#222222;
font-family:PT Sans, sans-serif;
font-size:13px;	
	line-height:18px;
	
}
.perfi {
	width:100%;
}
 .perfimg{
	 width:220px;
 }
 .foto1{
	 width:700px;
 }
 .foto{padding:0;
	 display:flex;
flex-wrap:wrap;
 justify-content:space-between;
 } 
/* .foto li{border:1px   solid silver;
width:220px;
color:black;
list-style:none;
margin-bottom:20px;
height:319px;
text-align:center;	 
 }*/
 .foto li{
	 margin-bottom:25px;
 }
 .foto li:hover{
	 
 }
 .foto li:hover .buttons{
	 display:block;
 }
 .foto li:hover>:first-child{
	 display:none;
 }
 .form label{
display:block;
color:black;
font-size:15px;
line-height:20px;
text-transform:uppercase;
padding-left: 36px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
 }
 .form input[type="checkbox"]+label{
	 background-image:url(../img/checkbox-off.svg);
 }
 .form input[type="radio"]+label{
	 background-image:url(../img/radio-off.svg);
 }
  .form input[type="checkbox"]:checked+label{
	 background-image:url(../img/checkbox-on.svg);
 }
 .form input[type="radio"]:checked+label{
	 background-image:url(../img/radio-on.svg);
 }
 .form{
    	 
 }
 .form h3{
	font-size: 17px;
    line-height: 30px;
    font-family: PT Sans;
font-weight:bold;
color:#000000;	
 }
 .form fieldset
 {
	 margin:0;
	 padding:0;
 }
.form input{
     width: 140px;
    height: 37px;
    margin-top: 57px;
    background-color:#ffffff;
	border:2px solid silver;
}
.form label{

}	
 .feedback{
	margin-left: 75px;
    margin-top: 36px;
    font-size: 16px;
    line-height: 18px;
    font-family: Cuprum; 
 }
 .developed{
 font-size: 16px;
    line-height: 18px;
    font-family: Cuprum;
    margin-left: 51px;
    margin-top: 36px;	
 }
 .registration2 a:nth-child(1){
    display: block;
    margin-top: 45px;
    color: #000000;
	font-size:21px;
	line-height:21px;
	font-family:Cuprum;
	padding-left: 47px;
	background-color:#ffffff;
	width:300px;
	height:47px;
	margin-left:11px;
	    padding-top: 13px;
 }
.registration2 a:nth-child(1)::after{
content:"";
position:absolute;
 right: 172px;
width:20px;
height:17px;
background-image:url("../img/icon-logout.svg  ");
	background-repeat:no-repeat;
}	
 .registration2 a::before{
content:"";
position:absolute;
 right: 426px;
    top: 102px;
width:20px;
height:17px;
background-image:url("../img/icon-user.svg");
	background-repeat:no-repeat;
}
.my-ak{font-size:16px;
line-height:18px;
font-family:Cuprum;
color:#32425c;
display:block;
    margin-top: 6px;
    margin-left: 29px;
	text-decoration:underline;
}
.my-ak2{
font-size:16px;
line-height:18px;
font-family:Cuprum;
color:#32425c;
display:block;
margin-left: 135px;
    margin-top: -18px;
	text-decoration:underline;
}	
 .catalog2{
display:block;
color:#000000;

 } 
 .perfi h2{
	font-size:30px;
line-height:30px;
font-family:Cuprum;
color:#32425c;
height:90px;
    padding-left: 28px;
    padding-top: 33px;
    letter-spacing: -0.3px;
background-color:#f2f6f8;
 }
 .sort{
background-color:#f7f3ec;
list-style:none;
justify-content: space-between;
    display: flex;
	height:40px;
	    margin-top: -4px;
		padding-top: 11px;
    padding-left: 20px;
 } 
  .sort li{
font-size:13px;
line-height:18px;
font-family:PT Sans;	 
	  }	 
 
.sort li:nth-child(1) a{
color:#000000;

}	
.sort li:nth-child(2) a{
color:#ee3643;
    padding-left: 74px;
}	
.sort li:nth-child(3) a{
color:#c4c1bb ;
padding-left: 6px;
border-bottom:0.5px dashed #ee3643;       
}	 
 .sort li:nth-child(4) a{
color:#c4c1bb ;
 padding-right: 107px;
 border-bottom:0.5px dotted #ee3643; 
}	
.p1{
    padding-top: 28px;
    padding-right: 10px;	
}
.p2{
    padding-top: 22px;
    padding-right: 17px;	
}
.buttons
{
	display:none;
	border-top: 1px solid transparent;
}
.top{display:block;
width:133px;
height:35px;
background-color:#63a63e;
border:0;
color:#ffffff;
font-size:14px;
line-height:18px;
font-family:Cuprum;
    margin-left: 43px;
    margin-top: 46px;
	padding-top: 5px;
    padding-left: 9px
}

.top::before{    right: 311px;
	width:15px;
height:15px;
content:"";
position:absolute;
background-image:url("../img/icon-cart.svg ");
	background-repeat:no-repeat;
}	
.bottom{
     margin-top: 10px;
    margin-left: 41px;
    width: 136px;
    height: 38px;
    border: 3px solid #63a63e;
    background-color: #ffffff;
font-size:14px;
line-height:18px;
font-family:Cuprum;
    padding-left: 11px;
}	

.text2{
font-size:18px;
line-height:20px;
font-family:PT Sans;
font-weight:bold;

}
 .p3{
	    padding-right: 10px;
    padding-top: 29px; 
 }
.p4{
  padding-right: 20px;
    padding-top: 21px;

}
.p5{
    padding-right: 25px;
    padding-top: 28px;
}
.p6{
 padding-left: 40px;
    padding-top: 27px;
}
.p7{
 padding-left: 27px;
    padding-top: 20px;
}
.p8{
 padding-left: 32px;
    padding-top: 28px;
}
.buttons1{ 
 font-size:13px;
line-height:18px;
font-family:PT Sans;  
background-color:#ffffff;
 padding-left: 261px;
    padding-top: 14px;
}
.b1,.b2,.b3{
width:38px;
height:38px;
  	
}
.b4{
width:140px;
height:38px;
	
}
.b1{
background-color:#ee3643;
color:#ffffff;
border:0;
margin-left: -19px;	
}
.b2{
background-color:#ffffff;
color:#000000;
border:2px solid #e5e5e5;
margin-left:6px;	
}
.b3{
background-color:#ffffff;
color:#000000;
border:2px solid #e5e5e5;
margin-left:7px;		
}
.b4{
background-color:#ffffff;
color:#000000;
border:2px solid #e5e5e5;
margin-left:7px;
			
}
.resume{
width:auto; 
justify-content: space-between;
background-color: #f5f8fa;
display: flex;
flex-wrap: wrap;
margin-top:84px;
	width:1200px;
	padding:0 130px;
margin-left:auto;
margin-right:auto;
    padding-bottom: 37px;
  
}
.resume h3{
font-size:30px;
line-height:30px;
font-family:Cuprum;
color:#000000;
    padding-top: 35px;
    letter-spacing: -0.3px;
 
}
.resume1 {
font-size:13px;
line-height:24px;
font-family:PT Sans;
color:#3e3f40;
 
}
.price3{
display:block;	
	
}
.price3 h3{
font-size:13px;
line-height:18px;
font-family:PT Sans;
color:#3e3f40;
background-color:#f7f3ec;
width:220px;
height:40px;
    margin-top: -4px;
    padding-left: 20px;
    padding-top: 11px;
}	
.price3 h4{margin-top: -3px;
font-size:17px;
line-height:30px;
font-family:PT Sans;
color:#3e3f40;
font-weight:bold;
	
}
 .form label{
font-size:15px;
line-height:20px;
font-family:PT Sans;
 }
 

	 
	 
 
 
 